@tailwind base;
@tailwind components;
@tailwind utilities;

.main-sidebar::-webkit-scrollbar,
        .scrollbar::-webkit-scrollbar {
            width: 0.25em;
        }

        .main-sidebar::-webkit-scrollbar-track {
            box-shadow: inset 0 0 5px rgb(189, 189, 189); 
  border-radius: 10px;
        }

        .main-sidebar::-webkit-scrollbar-thumb,
        .scrollbar::-webkit-scrollbar-thumb {
            background-color: rgb(233, 231, 231);
            border-radius: 50px;
        }
        table thead tr th{
            @apply p-2 text-left;
        }
        table tbody tr td{
            @apply p-1 pl-2 text-left;
        }
        .table-striped > td {
            background-color: #e9ecf0 !important;
          }
          .dashlink:hover{
            background-color:#14aca4
          }
          thead{
            background-color:#14aca4
          }
          .dashboardlink{
            background-color:#14aca4
          }
